{% load static yandex_metrica %}

<html>
    <head>
        <title>{% block title %}{% if title %}{{ title }}{% else %}MrNereof{% endif %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="icon" href="{% static 'favicon.ico' %}">

        <meta property="og:title" content={% if title %}{{ title }}{% else %}MrNereof{% endif %}>
        <meta property="og:site_name" content=MrNereof>
        <meta property="og:url" content=https://nereof.com>
        <meta property="og:description" content="Idk what I should write here.">
        <meta property="og:type" content=website>
        <meta property="og:image" content={{ request.scheme }}://{{ request.get_host }}{% static 'logo.jpg' %}>
        <meta name="theme-color" content="#524232">

        {% yandex_metrica %}
    </head>
    <body>
        <header>
            <div id="nav">
                <a href="{% url 'index' %}">💀</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'projects' %}">Projects</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        </header>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>